body { padding: 0; margin: 0 }
#unity-container { position: absolute }
#unity-container.unity-desktop { left: 50%; top: 50%; transform: translate(-50%, -50%) }
#unity-container.unity-mobile { width: 100%; height: 100% }
#unity-canvas { background: {{{ BACKGROUND_COLOR }}} }
.unity-mobile #unity-canvas { width: 100%; height: 100% }
#unity-loading-bar { position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none }
#unity-logo { width: 154px; height: 130px; background: url('unity-logo-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-progress-bar-empty { width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-progress-bar-full { width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-{{{ SPLASH_SCREEN_STYLE.toLowerCase() }}}.png') no-repeat center }
#unity-footer { position: relative }
.unity-mobile #unity-footer { display: none }
#unity-webgl-logo { float:left; width: 204px; height: 38px; background: url('webgl-logo.png') no-repeat center }
#unity-build-title { float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px }
#unity-fullscreen-button { float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center }
#unity-warning { position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none }

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}

#title {
    margin: 50px 0;
    color: deeppink;
    text-align: left;
}

#wrapper {
    margin-top: 20px;
    position: relative;
    width: 100%;
}

#credits, #instructions {
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#instructions {
    color: #ccc;
    width: 550px;
    text-align: justify;
}

#instructions .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#instructions .row img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
}

#instructions .row p {
    margin-right: 15px;
    text-align: left;
}

#credits {
    color: #333;
}

#credits a, #credits a:visited  {
    color: #444;
    text-decoration: none;
    transition: all 0.5s ease;
}

#credits a:hover {
    color: #666;
}

#credits ul {
    list-style-type: none;
    padding: 0;
}

#credits li {
    margin-bottom: 15px;
}
